<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Магазин</title>
</head>
<body>
    <h1>Магазин</h1>
    <div class="product">
        <ul>
            {% for item, price in products.items %}
            <li><i>{{ item }} > </i>
                <button><b>{{ price }}</b></button>
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>
    <button><h3><a href="/task3/">Вернуться обратно</a></h3></button>
</body>
</html>